
<div class="container-xxl flex-grow-1 container-p-y">
            <div class="requests">
                <h2>Requests</h2>

                <h3>Ahmad request:</h3>
                <div class="request-item">
                    <div></div>
                    <div class="buttons">
                        <div class="button reject">✖</div>
                    </div>
                </div>
                <div class="request-item">
                    <div></div>
                    <div class="buttons">
                        <div class="button accept">✔️</div>
                    </div>
                </div>
                <div class="request-item">
                    <div></div>
                    <div class="buttons">
                        <div class="button accept">✔️</div>
                        <div class="button reject">✖</div>
                    </div>
                </div>

                <h3>Fatima request:</h3>
                <div class="request-item">
                    <div></div>
                    <div class="buttons">
                        <div class="button accept">✔️</div>
                        <div class="button reject">✖</div>
                    </div>
                </div>
                <div class="request-item">
                    <div></div>
                    <div class="buttons">
                        <div class="button accept">✔️</div>
                        <div class="button reject">✖</div>
                    </div>
                </div>
                <div class="request-item">
                    <div></div>
                    <div class="buttons">
                        <div class="button accept">✔️</div>
                        <div class="button reject">✖</div>
                    </div>
                </div>
            </div>
    </div>
