@using KidsApi.Models.Requests
@model AddRewardRequest
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Content -->
    <!-- Register -->
    <div class="card">

        <div class="card-body">
            <!-- /Logo -->
            <h4 class=" mb-2 text-center">Rewards 🥳</h4>
            <p class="text-center">Let Your kids dashboard be more intersting 🧸 </p>

            <form id="formAuthentication" class="mb-3" asp-action="AddReward" method="post">
                <div class="mb-3">
                    <label for="reward" class="form-label">Rewards Type</label>
                    <input type="text"
                           class="form-control"
                           id="rewardtype"
                           name="rewardtype"
                           value="@Model.RewardType"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           name="description"
                           value="@Model.Description"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="requiredPoints" class="form-label">Required Points</label>
                    <input type="text"
                           class="form-control"
                           id="requiredPoints"
                           name="requiredPoints"
                           value="@Model.RequiredPoints"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="childId" class="form-label">Child Id</label>
                    <input type="text"
                           class="form-control"
                           id="childId"
                           name="childId"
                           value="@Model.ChildId"
                           placeholder=""
                           autofocus />
                </div>






                <div class="text-center">
                    <button class="btn btn-sm btn-outline-primary" type="submit">Add Reward</button>
                </div>
            </form>


        </div>
    </div>
</div>
