
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class=" mb-2 "> Fatma Details</h4>

    <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-6">
                </div>
                <div class="col-12">
                <a href="/ParentDashBoard/EditDetails" class="btn btn-sm btn-outline-primary">Edit Profile </a>
            </div>
            </div>
             <div class="accordion-body">Name: Fatma</div>
             <div class="accordion-body"> Age: 7 </div>
             <div class="accordion-body">Email: Fatma7@gmail.com </div>
             <div class="accordion-body">Gender: Female</div>
             <div class="accordion-body">Password:#1111</div>
        </div>

    </div>
   
    
    <h4 class=" mb-2 ">Rewards</h4>

    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                </div>
                
            </div>
            <div class="accordion-body">Reward 1</div>
            
        </div>

    </div>

    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                </div>

            </div>
            <div class="accordion-body">Reward 2</div>

        </div>

    </div>

    @* <h4 class=" mb-2"> Rewards</h4>
    <div class="card">

        <div class="card-body">
          Reward 1
        </div>
    </div>

        <div class="card">
        <div class="card-body">
            Reward 1
        </div>
    </div> *@
</div>


