@using KidsApi.Models.Requests
@model ChildAccountUpdateRequest

<div class="container-xxl flex-grow-1 container-p-y">
   
    <div class="card">

        <div class="card-body">
            <!-- /Logo -->
            <h4 class=" mb-2 text-center", onclick="toggleEditForm()"> Edit Details</h4>
            <input type="hidden" name="Id" value="@Model.Id" />


            <form id="formAuthentication" class="mb-3" method="patch">
                <div class="mb-3">
                    <label for="UserName" class="form-label">UserName</label>
                    <input type="text"
                           class="form-control"
                           id="UserName"
                           name="UserName"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="text"
                           class="form-control"
                           id="Password"
                           name="Password"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Points" class="form-label">Points</label>
                    <input type="text"
                           class="form-control"
                           id="Points"
                           name="Points"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="SavingsAccountNumber" class="form-label">Savings</label>
                    <input type="text"
                           class="form-control"
                           id="SavingsAccountNumber"
                           name="SavingsAccountNumber"
                           value="@Model.SavingsAccountNumber"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Balance" class="form-label">Balance</label>
                    <input type="text"
                           class="form-control"
                           id="Balance"
                           name="Balance"
                           placeholder=""
                           autofocus />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </div>

            </form>




            <script>
                function toggleEditForm() {
                    var editForm = document.getElementById('editForm');

                    if (editForm.style.display === 'none') {
                        editForm.style.display = 'block';
                    } else {
                        editForm.style.display = 'none';
                    }
                }
            </script>

        </div>
    </div>
</div>

@* 
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="card">

        <div class="card-body">


            <form id="formAuthentication" class="mb-3" action="index.html">
                <div class="mb-3">
                    <label for="Points" class="form-label">Points</label>
                    <input type="text"
                           class="form-control"
                           id="Points"
                           name="Points"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="SavingsGold" class="form-label">Savings Gold</label>
                    <input type="text"
                           class="form-control"
                           id="SavingsGold"
                           name="SavingsGold"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Balance" class="form-label">Balance</label>
                    <input type="text"
                           class="form-control"
                           id="Balance"
                           name="Balance"
                           placeholder=""
                           autofocus />
                </div>
              






                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </div>
            </form>


        </div>
    </div>
</div> *@






