@using KidsApi.Models.Requests
@model AddRewardRequest
<div class="container-xxl flex-grow-1 container-p-y">
        <div class="reward">
            <img src="money-icon.png" alt="Money Icon" width="40">
        </div>
        <div class="reward">
            <img src="teddy-icon.png" alt="Teddy Bear Icon" width="40">
        </div>
        <div class="add-reward">
        </div>
    </div>
