@using KidsApi.Models.Requests
@model TaskRequest

<div class="container-xxl flex-grow-1 container-p-y">

            <div class="task-form">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Exercise">
                <input type="text" placeholder="Description">
                <div class="points-section">
                    <div class="points">Points</div>
                    <div class="add-button"></div>
                </div>
            </div>
    </div>
