
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Content -->
    <!-- Register -->
    <div class="card">

        <div class="card-body">
            <!-- /Logo -->
            <h4 class=" mb-2 text-center">Details ℹ️</h4>

            <form id="formAuthentication" class="mb-3" action="index.html">
                <div class="mb-3">
                    <label for="UserName" class="form-label">UserName</label>
                    <input type="text"
                           class="form-control"
                           id="UserName"
                           name="UserName"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="text"
                           class="form-control"
                           id="Email"
                           name="Email"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Age" class="form-label">Age</label>
                    <input type="text"
                           class="form-control"
                           id="Age"
                           name="Age"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Gender" class="form-label">Gender</label>
                    <input type="text"
                           class="form-control"
                           id="Gender"
                           name="Gender"
                           placeholder=""
                           autofocus />
                </div>

                <div class="mb-3 form-password-toggle">
                    <div class="d-flex justify-content-between">
                        <label class="form-label" for="password">Password</label>
                        
                    </div>
                    <div class="input-group input-group-merge">
                        <input type="password"
                               id="password"
                               class="form-control"
                               name="password"
                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                               aria-describedby="password" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>





            </form>


        </div>
    </div>
</div>


<div class="container-xxl flex-grow-1 container-p-y">
   
    <div class="card">

        <div class="card-body">
            

            <form id="formAuthentication" class="mb-3" action="index.html">
                <div class="mb-3">
                    <label for="Points" class="form-label">Points</label>
                    <input type="text"
                           class="form-control"
                           id="Points"
                           name="Points"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="SavingsGold" class="form-label">Savings Gold</label>
                    <input type="text"
                           class="form-control"
                           id="SavingsGold"
                           name="SavingsGold"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Balance" class="form-label">Balance</label>
                    <input type="text"
                           class="form-control"
                           id="Balance"
                           name="Balance"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Tasks" class="form-label">Task 1</label>
                    <input type="text"
                           class="form-control"
                           id="Tasks"
                           name="Tasks"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Tasks" class="form-label">Task 2</label>
                    <input type="text"
                           class="form-control"
                           id="Tasks"
                           name="Tasks"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Tasks" class="form-label">Task 3</label>
                    <input type="text"
                           class="form-control"
                           id="Tasks"
                           name="Tasks"
                           placeholder=""
                           autofocus />
                </div>

               





                   <div class="text-center">
                <button class="btn btn-primary" type="submit">Done</button>
                </div> 
            </form>


        </div>
    </div>
</div>

