
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">

        <div class="card-body">
            <h4 class=" mb-2 text-center">Details ℹ️</h4>

            <form id="formAuthentication" class="mb-3" action="index.html">



                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Child 1

                                <div class="text-center">
                                    <a href="/BaitiApp/EditDetails" class="btn btn-sm btn-outline-primary">Edit Profile </a>
                                </div>
                            </button>
                        </h2>

                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Name: Fatma</div>
                        </div>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"> Age: 7 </div>
                        </div>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Email: Fatma7@gmail.com </div>
                        </div>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Gender: Female</div>
                        </div>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Password:#1111</div>
                        </div>




                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Child 2

                                <a href="/BaitiApp/Editdetails" class="btn btn-sm btn-outline-primary">Edit Profile </a>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Name: Fahad</div>
                        </div>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Age: 9</div>
                        </div>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Email: Fahad9@gmail.com</div>
                        </div>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Gender: Male</div>
                        </div>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Password: #2222</div>
                        </div>
                    </div>
                </div>






            </form>


        </div>
    </div>
</div>


