
<div class="container-xxl flex-grow-1 container-p-y">
            <div class="profile-info">
                <div>UserName:</div>
                <div>Email:</div>
                <div>Age:</div>
                <div>Gender:</div>
                <div>Password:</div>
            </div>

            <div class="stats">
                <div class="stat-item">Points</div>
                <div class="stat-item">Savings Gold</div>
                <div class="stat-item">Balance</div>
            </div>
            <div class="tasks">
                <h3>Tasks:</h3>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
            </div>
  </div>
