
<div class="container-xxl flex-grow-1 container-p-y">
            <div class="task-item">
                <div>
                    <h3>Fatma</h3>
                    <p>Tasks</p>
                    <p class="status">Tasks Completed</p>
                </div>
                <div class="checkmark">✔️</div>
            </div>
            <div class="task-item">
                <div>
                    <h3>Fahad</h3>
                    <p>Tasks</p>
                    <p class="status">4 tasks of 5 is completed</p>
                </div>
                <div class="checkmark">✔️</div>
            </div>
            <div class="add-button"></div>
    </div>

